// === FONTS ===
$text-font: 'Catamaran', sans-serif;
$headline-font: 'Lato', sans-serif;

// === COLORS ==
$primary-color: #006495;
$secondary-color: #004C70;
$tertiary-color: #0093D1;
$orange-color: #E0A025;
$gold-color: #F4D00C;
$nav-link: #DDDDDD;
$nav-active: #FFFFFF;
$bright-blue: #4080FF;

// === LAYOUT ===
$nav-height: 40px;
$nav-form-height: 25px;
