* {
  font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6, #navbar {
  font-family: 'Lato', sans-serif;
}

.nav-buttons > a {
  color: #FFF
}

#navbar {
  background-color: #006495;
  background-image: none;
  padding: 0px;
  height: 40px;
  min-height: 40px;
  box-shadow: 0px 3px 5px #AAA;
}


.container {
   margin-top: 61px;
 }

#navbar > .container {
  margin: 0 auto;
  height: 40px;
}

.navbar-header {
  height: 40px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #004C70;
}

.navbar-collapse {
   background-color: #006495;
   border-top: 0px;
}


.navbar-nav > li > a{
  padding: 10px;
}

.navbar-brand {
  height: 40px;
  padding: 11px 15px;
}

.navbar-inverse .navbar-brand {
  color: #DDD;
  font-family: 'Lato', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #DDD;
}

#nav-search, #nav-submit {
  height: 25px;
}

#nav-search {
  width: 100%;
  border-radius: 10px;
  border: 0px;
  background-color: #DDD;
  background-image: url(/static/images/search.png);
  background-size: 20px;
  background-position: 1% 49%;
  background-repeat: no-repeat;
  padding-left: 30px;
}

#nav-submit {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 10px;
  height: 24px;
  opacity: 0;
  left: 1px;
  top: 0px;
  position: absolute;
}

#nav-form {
  width: 100%;
  height: 100%;
  margin-left: -7px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.navbar-toggle {
  margin: 3px 5px 2px 0px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #FFF
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-image: none;
  background-color: #004C70
}

.dropdown-menu {
  background-color: #004C70;
  border: 0px;
  border-radius: 5px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #006495;
  color: #FFF;
  background-image: none;
}

.dropdown-menu>li>a {
  color: #DDD
}

.navbar-form {
  margin-top: -1px;
}

#nav-search:active, #nav-search:focus {
  background-color: #FFF
}

@media (min-width: 768px) {
  .navbar-form {
    margin-top: 7px;
    margin-bottom: 0px;
    height: 25px;
    width: 57%
  }

  .nav-buttons {
    margin-left: 10px;
  }

  .navbar-collapse.collapse {
    height: 39px!important
}

@media (max-width: 767px) {
  #nav-form {
    width: 100%;
  }



  .navbar-nav .open .dropdown-menu {
  background-color: #004C70;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #006495;
    color: #FFF;
    background-image: none;
  }
}

@media (min-width: 992px) {
  .navbar-form {
    width: 67%
  }
}
