{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/animations.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato" rel="stylesheet">
    <title>Strive</title>
  </head>
  <body>
    {% csrf_token %}
    <div id="container">

    </div>
    {% render_bundle 'main' %}
  </body>
</html>
